<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>register page</h1>
<form action="/register" method="post">
<label>user name : </label>
<input type="text"  name="username" />
<br></br>
<label>email : </label>
<input type="email" name="email"/>
<br></br>
<label>password</label>
<input type="password"  name="password"/>
<br></br>
<label>gender</label>
<input type="radio" name="gender" value="male"/>
male
<input type="radio" name="gender" value="female"/>
female
<br></br>
<label>Role</label>
<input type="radio" name="role" value="admin"/>
admin 
<input type="radio" name="role" value="customer"/>
customer
<br></br>
<label>Address</label>
<textarea name="address"></textarea>
<br></br>
<input type="submit"  value="REGISTER"/>
</form>
</body>
</html>